services:
  postgres:
    image: postgres:18
    container_name: url-shortener-postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./migrations/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network 

  server:
    image: blessseddd/url-shortener-server:latest
    container_name: url-shortener-server  
    ports:
      - 8080:8080
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432  
      - DB_NAME=${POSTGRES_DB}
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
    
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge